{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="mapid">
        </div>
        <div class="loader hidden">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
    <button id="mm-menu-toggle" class="front mm-menu-toggle">Toggle Menu</button>
    <nav id="mm-menu" class="mm-menu">
        <div class="mm-menu__header">
            <h2 class="mm-menu__title">Cultural</h2>
        </div>
        <ul class="mm-menu__items">
            {% for type in types %}
                {% set cleanType = type|replace( {'_' : ' '} )|lower %}
                <li class="mm-menu__item">
                    <a class="mm-menu__link" href="#" data-type="{{ type }}">
                        <span class="mm-menu__link-text">

                            {% if type == "RESTAURATION" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-black.png') }}">
                                </i>
                            {% elseif type == "COMMERCE_ET_SERVICE" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-blue.png') }}">
                                </i>
                            {% elseif type == "HEBERGEMENT_LOCATIF" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-green.png') }}">
                                </i>
                            {% elseif type == "PATRIMOINE_CULTUREL" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-grey.png') }}">
                                </i>
                            {% elseif type == "HEBERGEMENT_COLLECTIF" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-orange.png') }}">
                                </i>
                            {% elseif type == "EQUIPEMENT" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-red.png') }}">
                                </i>
                            {% elseif type == "HOTELLERIE" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-violet.png') }}">
                                </i>
                            {% elseif type == "DEGUSTATION" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-yellow.png') }}">
                                </i>
                            {% elseif type == "HOTELLERIE_PLEIN_AIR" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-blue.png') }}">
                                </i>
                            {% elseif type == "PATRIMOINE_NATUREL" %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-violet.png') }}">
                                </i>
                            {% else %}
                                <i>
                                    <img src="{{ asset('bundles/app/img/marker-icon-red.png') }}">
                                </i>
                            {% endif %}
                           {{ cleanType }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav><!-- /nav -->
{% endblock %}
