{% extends 'base.html.twig' %}

{% block body %}

    <div class="edit">
        {{ form_start(poiForm) }}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(poiForm.detail) }}
            {{ form_row(poiForm.detail) }}
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(poiForm.website) }}
            {{ form_row(poiForm.website) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(poiForm.city) }}
            {{ form_row(poiForm.city) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(poiForm.adress) }}
            {{ form_row(poiForm.adress) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(poiForm.phone) }}
            {{ form_row(poiForm.phone) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(poiForm.postalCode) }}
            {{ form_row(poiForm.postalCode) }}
        </div>
        {{ form_rest(poiForm) }}
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised" data-upgraded=",MaterialButton">
            <a href="{{ path('user_admin_index') }}">
                Back
            </a>
        </button>
        {{ form_end(poiForm) }}
    </div>

{% endblock %}
