<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nom du lieu</th>
        <th>Editer le lieu</th>
    </tr>
    </thead>
    <tbody>
    {% for point in poi %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ point.name }}</td>
            <td>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <a href="{{ path('user_admin_edit', {"id":point.id}) }}" title="{{ point.name }}">
                        <i class="material-icons">edit</i>
                    </a>
                </button>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>

</ul>