<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bmatznerleaflet/css/leaflet.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/bmatznerleaflet/js/leaflet.min.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-light_blue.min.css">

    {% block stylesheets %}
        {% stylesheets '@AppBundle/Resources/public/styles/vendor/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@AppBundle/Resources/public/styles/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheets %}
</head>
<body>

{% block body %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}

{% block javascripts_footer %}
    {% spaceless %}
        <script>
            var GLOBALS = {
                "urls" : {
                    "grabPoi" : "{{ url('user_admin_grab') }}",
                    "grabPoiByType" : "{{ url('app_map_grab') }}"
                }
            }
        </script>
    {% endspaceless %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/vendor/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>