{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="login" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="username">{{ 'security.login.username'|trans }}</label>
        <input class="mdl-textfield__input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="password">{{ 'security.login.password'|trans }}</label>
        <input class="mdl-textfield__input" type="password" id="password" name="_password" required="required" />
    </div>

    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember_me">
        <input type="checkbox" class="mdl-checkbox__input" id="remember_me" name="_remember_me" value="on" >
        <span class="mdl-checkbox__label">{{ 'security.login.remember_me'|trans }}</span>
    </label>

    <input class="mdl-button mdl-button--raised mdl-button--colored" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}
