body,html {
    height: 100%;
}
body {
    position: relative;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;left: 0;
}
#mapid {
    position: relative;
    width: 100%;
    height: 100%;
    right: 0;left: 0;
}


.leaflet-control-layers-toggle {
    background-image: url(images/layers.png) !important;
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png) !important;
    background-size: 26px 26px;
}

#grab{
    margin: auto;
}

.leaflet-control-container {
    display: none;
}

.mm-menu__title {
    left: 200px;
}

.mm-menu__header{
    background-color: #607D8B;
    height: 50px;
}
.mm-menu .mm-menu__link {
    text-align: left;
    text-transform: capitalize;
}
.mm-menu .mm-menu__link i {
    position: relative;
    top:13px;
    margin-right: 15px;
}

/*LOADER*/
.loader.hidden{
    display: none;
}

.loader {
    position: absolute;
    margin: 0px auto;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 9999;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}
form.login {
    margin: 150px auto;
    width: 380px;
    padding: 25px;
    border: 1px solid blue;
}
form.login .mdl-checkbox {
    margin-bottom: 25px;
}

#wrapper table {
    width: 800px;
    margin: auto;
}

.edit form{
    max-width: 400px;
    margin: 55px auto;
}